h1, h2 {
  line-height: 35px;
  text-align: center;
}

h1 {
  color: charcoal;
  font-style: bold;
  font-variant: small-caps;
  text-decoration: underline;
}

h2 {
  color: dodgerblue;
  font-style: italic;
}

p, ul {
  font-weight: 100;
  font-size: 15px;
}

p {
  font-family: sans-serif;
}

ul, ol {
font-family: serif;
  line-height: 30px;
}
