h1, h2 {
  line-height: 50px;
}

h1 {
  color: red;
  text-align: center;
  font-style: bold;
}

h2 {
  color: dodgerblue;
  font-style: italic;
  text-align: center;
}

p, ul {
  font-weight: 100;
  font-size: 15px;
}

p {
  font-family: sans-serif;
}

ul {
font-family: serif;
  line-height: 30px;
}
